@import url('base.css');

body {
    min-height: 100vh;
    height: auto;
    background: rgb(40, 40, 50);
    background: linear-gradient(0deg, rgba(40, 40, 50, 1) 0%, rgba(70, 70, 86, 1) 100%) !important;
}

main {
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.cards {
    border-radius: 25px;
    opacity: 0.8;
    background: linear-gradient(90deg, #6B6A7A 0%, #B4B4B4 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 115px; 
    width: 90%;
}

.section1 {
    width: 100%;
    min-height: 20vh;
    height: auto;
    margin-top: 50px;
}

.section2 {
    display: flex;
    padding: 50px;
    width: 100%;
    min-height: 30vh;
    height: auto;
}

.search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search {
    height: 50px;
    padding: 0px 20px;
    width: 100%;
    border-style: none;
    border-radius: 30px 0 0 30px;
    background-color: rgba(227, 227, 227, 0.50);
    color: #f5f5f5;
    outline: none;
    position: relative;
    z-index: 1;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    width: 50px;
    height: 50px;
    background-color: var(--vermelho-escuro);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    margin-left: -5px; 
    position: relative;
    z-index: 1;
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi {
    color: aliceblue;
}

.card {
    width: 100%;
}

@media (width > 1024px) {
 
}